{% extends "basic.html"%} {%block head%}<title>Contributers</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/contributers.css')}}" /> {%endblock%}
{% block
content%}

<body>
    <div class="section-fluid-main">
        <div class="section-row">
            <div class="section-col">
                <div class="section">
                    <div class="section-in"> <img src="../static/images/Shoray.jpg" alt="" />
                        <div class="section-foot">
                            <p>
                                 <a href="https://lordshoray.is-a.dev/">
                                    <ion-icon name="browsers-outline"></ion-icon>
                                </a>
                                <a href="https://github.com/Shoray2002">
                                    <ion-icon name="logo-github"></ion-icon>
                                </a>
                                </a> <a href="https://www.facebook.com/shoray.ssa">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a> <a href="https://www.linkedin.com/in/shoray-singhal-b73533191/">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Shoray Singhal</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in"> <img src="../static/images/Gopi.png" alt="" />
                        <div class="section-foot">
                            <p> <a href="https://github.com/gopivaibhav">
                                    <ion-icon name="logo-github"></ion-icon>
                                </a> <a href="https://www.facebook.com/profile.php?id=100009820350915">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a> <a href="https://www.linkedin.com/in/gopi-vaibhav-987825200">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Gopi Vaibhav</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in"> <img src="../static/images/Rohan.png" alt="" />
                        <div class="section-foot">
                            <p> <a href="https://github.com/DrXfqqt">
                                    <ion-icon name="logo-github"></ion-icon>
                                </a> <a href="https://www.facebook.com/profile.php?id=100058240371140">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a> <a href="https://www.linkedin.com/in/rohan-chandra-8a23b6204/">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Rohan Chandra</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in"> <img src="../static/images/Priyanshu.jpg" alt="" />
                        <div class="section-foot">
                            <p> <a href="https://github.com/Priyanshu-U">
                                    <ion-icon name="logo-github"></ion-icon>
                                </a> <a href="https://www.facebook.com/priyanshu2003">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a> <a href="https://www.linkedin.com/in/priyanshu-upadhyay-46b07a1a7">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Priyanshu Upadhyay</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in"> <img src="../static/images/Nehal.png" alt="" />
                        <div class="section-foot">
                            <p> <a href="https://github.com/N-Shar-ma">
                                    <ion-icon name="logo-github"></ion-icon>
                                    <a href="https://www.linkedin.com/in/nehal-sharma-55998b205/">
                                        <ion-icon name="logo-linkedin"></ion-icon>
                                    </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Nehal Sharma</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in"> <img src="../static/images/Ashutosh.png" alt="" />
                        <div class="section-foot">
                            <p> <a href=" https://github.com/Ashu-161120">
                                    <ion-icon name="logo-github"></ion-icon>
                                </a> <a href=" https://www.facebook.com/Ashutosh14Rajput/">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a> <a href=" https://www.linkedin.com/in/ashutosh-singh-iiitl/">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Ashutosh Singh</h2>
            </div>
            <div class="info">
                <span>Made by the nerds of
                    <a href="https://iiitl.ac.in/">IIITL</a></span>
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body> {%endblock%}